spinner {
  margin-left: 20px;
}
.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul.posts-list {
  margin-left: -2.5rem;
}
.card {
  margin-bottom: 1rem;
  width: 50%;
}
.card .card-header {
  background-color: #384997;
  color: #f8f8f5;
}
.btn.btn-info {
  background-color: #6587d3;
  border-color: #6587d3;
}
.btn.btn-info:hover {
  background-color: #384997;
  border-color: #384997;
}
.btn.btn-danger:hover {
  cursor: pointer;
}
