.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f5;
  overflow-x: hidden;
}
.main-content {
  margin-left: 440px;
  margin-right: 40px;
}
.side-nav {
  position: absolute;
  left: 0;
  height: 100%;
  width: 400px;
  z-index: 1;
  background-color: #384997;
  font-family: 'Exo', sans-serif;
}
.text-heading {
  font-weight: 300;
  color: #f8f8f5;
}
.text-80 {
  font-size: 80%;
}
.brand-title {
  padding: 1rem 2rem;
}
/* Bootstrap overrides */
.nav-pills .nav-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.nav-pills .nav-item .nav-link {
  color: #f8f8f5;
  font-weight: 300;
}
.nav-pills .nav-item .active {
  margin-left: 2rem;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f8f8f5;
  color: #384997;
}
