@import "./shared/color-definitions.less";
.main-container {
    width: 100vw;
    height: 100vh;
    background-color: @color-bg;
    overflow-x: hidden;
}

.main-content {
    margin-left: 440px;
    margin-right: 40px;
}

.side-nav {
    position: absolute;
    left: 0;
    height: 100%;
    width: 400px;
    z-index: 1;
    background-color: @primary-color;
    font-family: 'Exo', sans-serif;
}

.text-heading {
    font-weight: 300;
    color: @color-bg;
}

.text-80 {
    font-size: 80%;
}

.brand-title {
    padding: 1rem 2rem;
}


/* Bootstrap overrides */

.nav-pills {
    .nav-item {
        padding-top: .5rem;
        padding-bottom: .5rem;
        .nav-link {
            color: @color-bg;
            font-weight: 300;
        }
        .active {
            margin-left: 2rem;
            border-radius: 20px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background-color: @color-bg;
            color: @primary-color;
        }
    }
}