<div class="main-container">
  <div class="side-nav">
    <img src="assets/simplogger-welcome-img.jpg" alt="Welcome image" class="img-fluid img-welcome">
    <div class="brand-title">
      <h2 class="text-heading text-center">SimPlogger - <span class="text-80">blogging made simple</span></h2>
    </div>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item text-right">
        <a class="nav-link" routerLink="published" routerLinkActive="active">Published posts</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" routerLinkActive="active" routerLink="new">New post</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" routerLinkActive="active" routerLink="drafts">Drafts</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet class="routing-content"></router-outlet>
  </div>
</div>
